@page "/"
@using BlazorColorPicker

<h1>Welcome to Camp of Blazes</h1>

About as useful as brushing trees...

<a href="https://youtu.be/J5SpKVPnwMo">
    <img src="https://www.cbc.ca/kidscbc2/content/the_feed/bugs_katydid.jpg" style="width: 25vw; min-width: 100px;" />
</a>

<hr />
 


