@page "/"
@using BlazorColorPicker
@using BlazorCrud.Client.Shared

<h1>Welcome to Camp of Blazes</h1>

About as useful as brushing trees...

<a href="https://youtu.be/J5SpKVPnwMo">
    <img src="https://www.cbc.ca/kidscbc2/content/the_feed/bugs_katydid.jpg" style="width: 25vw; min-width: 100px;" />
</a>

<h1>PickDates</h1>

<DatePicker InitialDate="DefaultDate" DateSelected="OnDateSelected"></DatePicker>
<h4>Selected Date:@SelectedDate.ToString("dd/MM/yyyy hh:mm:ss tt");</h4>

@code{
    public DateTime DefaultDate { get; set; }
    public DateTime SelectedDate { get; set; }
    protected override void OnInitialized()
    {
        DefaultDate = DateTime.Now.Date.AddHours(6).AddMinutes(30);
    }
    public void OnDateSelected(DateTime dt)
    {
        SelectedDate = dt;
    }
}



