@page "/"
@using BlazorColorPicker
@using BlazorCrud.Client.Shared
@using BlazorDateRangePicker






<h1>Welcome to Camp of Blazes</h1>

About as useful as brushing trees...

<a href="https://youtu.be/J5SpKVPnwMo">
    <img src="https://www.cbc.ca/kidscbc2/content/the_feed/bugs_katydid.jpg" style="width: 25vw; min-width: 100px;" />
</a>

<hr />
Test out this handy date range picker...


<DateRangePicker @ref="Picker"
                 Drops="DropsType.Up"
                 OnRangeSelect="OnRangeSelect"
 />

<hr />

@if (events.Count > 0)
{
    <h6 class="pt-2">Events:</h6>
}
@foreach (var e in events)
{
    <div class="alert alert-secondary" role="alert"><small>@e.Item2</small><small class="float-right">@e.Item1</small></div>
}

@code {
    DateRangePicker Picker;


    List<(DateTime, string)> events { get; set; } = new List<(DateTime, string)>();



    public void OnRangeSelect(DateRange range)
    {
        events.Add((DateTime.Now, $"Carter smells from: {range.Start} - {range.End}"));
    }
}




@*
    <DatePicker InitialDate="DefaultDate" DateSelected="OnDateSelected"></DatePicker>
    <h4>Selected Date:@SelectedDate.ToString("dd:MM:yyyy");</h4>

    @code{
        public DateTime DefaultDate { get; set; }
        public DateTime SelectedDate { get; set; }
        protected override void OnInitialized()
        {
            DefaultDate = DateTime.Now.Date;
        }
        public void OnDateSelected(DateTime dt)
        {
            SelectedDate = dt;
        }
    }
*@


